body {
  background-color: #d9dadb;
}
#heading {
  text-align: center;
}

/* main div container */
.parentElement {
  box-sizing: border-box;
  background-color: #d9dadb;
  display: grid;
  /* grid-template-columns: auto auto auto auto; */
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 2rem;
}

/* series dropdown styling */
#showDropdown {
  height: 24px;
  width: 250px;
  margin-right: 5em;
  margin-left: 3.5em;
}

/* episode dropdown styling */
#episodeDropdown {
  height: 24px;
  width: 220px;
  margin-right: 5em;
}

/* search text input id */
#searchInput {
  margin-top: 10px;
  width: 18em;
  height: 20px;
}

/* div containing each episode */
.episodeContainer {
  background-color: #f2f3f5;
  border-radius: 2px;
}

/* each episode header */
.episodeContainer > h4 {
  display: block;
  margin: 5px auto;
  text-align: center;
  border: 1px solid black;
  box-shadow: 2px 2px 5px gray;
  border-radius: 3px;
  height: 25px;
  width: 90%;
  padding-top: 10px;
}

.episodeContainer > p {
  text-align: justify;
  margin-right: 10px;
  margin-left: 10px;
}

/* each episode img */
.episodeContainer > img {
  display: block;
  margin: 0 auto;
  border-radius: 3px;
}

.hidden {
  display: none;
}

#episodeDisplay {
  display: inline;
  padding-left: 15px;
}

.allShowContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.showInfoContainer {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}
.statusContainer {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.showInfoContainer > p {
  font-size: 1.2rem;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.oneShowContainer {
  width: 100%;
  background-color: #f2f3f5;
  border-radius: 2px;
}

#copyrightInfo {
  text-align: center;
  background-color: #f2f3f5;
  padding: 1px;
  border-radius: 2px;
}
